@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  background-color: #000; /* fallback */
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Optional: Hide scrollbars for a cleaner look */
body {
  overflow-x: hidden;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}